* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: #eaefe5;
}

header {
    padding: 20px;
    background-color: #2a7c50;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* removed unnessecary ul il elements */
nav a {
    display: inline-block;
    margin-left: 25px;
}

/* added hover and underline for nav links */
nav a:hover{
    color: #d9dcd6;
    text-decoration: underline;
}

a {
    color: #ffffff;
    text-decoration: none;
}

main{
    display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 880px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav {
        float: none;
      flex-direction: column;
    }

    nav, header h1{
        display: block;
        align-items: center;
        text-align: center;
    }

    nav a {
        padding: 5px;
        border: 2px;
        border-radius: 2px;
        border-style: solid;
    }
    /* Make the sidebar stack below the body */
    aside {
      /* order: 2; */
    }
    main{
      order: -1;
    }
    /* Change the header background */
    header {
      /* background: #772014; */
    }
    /* Change the navbar and footer background */
    nav,
    footer {
      /* background-color: #bb8588; */
    }