* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:root{
    --popoutColor: #95d5b2;
}


body {
    background-color: #d8f3dc;
    display:block;
}

header {
    padding: 20px;
    background-color: #74c69d;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    align-content: center;
}

nav a {
    display: inline-block;
    margin-left: 25px;
}


nav a:hover{
    color: #d9dcd6;
    text-decoration: underline;
}

a {
    color: #ffffff;
    text-decoration: none;
}

main{
    display: flex;
  flex-wrap: wrap;
}

section{
    padding: 20px;
    display:block;
}

section article{
    display:flex;
    width: 100%;
    margin-top: 10px;
}

.card-head{
    display: flex;
}

section article h2{

    display: block;
    font-size: 36px;
    font-weight: bold;
    width: 130px;
    text-align: left;
    padding-right: 100px;
}

section article card{
    padding-left: 35px;
    
    display: block;
    margin: 5px;
    border-left: 5px solid black;
}
section article card p{
    font-size: 20px;
}

.container {
    
    padding:25px;
    position: relative;
    margin:auto;
   
}

.container h3 {
    font-size: 20px;
    position:absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--popoutColor);
    color:white;
   
    padding: 10px 4px 10px 4px;
    margin:auto;
    border: 2px solid black;
}

.hero {
    width:100%;
    position: relative;
    margin:auto;
}

.hero h2 {
    font-size: 20px;
    position: absolute;
    bottom: 30px;
    right: 16px;
    background-color:  var(--popoutColor);
    color:white;
   
    padding: 10px 4px 10px 4px;
    margin-bottom: -30px;
    border: 2px solid black;
}

 img:hover{
    transition: all 300ms linear;
    box-shadow: 2px 4px 4px rgba(131, 131, 131, 0.467);
    transform: scale(1.02);
    filter: brightness(90%);
}

 img:not(:hover){
    transition: all 300ms linear;
    box-shadow: none;
    transform: scale(1.00);
    filter:brightness(100%);
}

div.image-gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

div.first-work-img img{
    display:block;

    width: 100%; 

    margin:auto;

}

div.normal {
    display:flex;
}

div.normal img{
    display:flex;
}

figure {
    height: 160px;
    width: 100%;
    background-image: url("../images/library_hero.jpg");
    background-size: cover;
    background-position: center;
}

.figure-title{
    width: 100%;
    margin-top:-50px ;
    float:right;
    top:40px;
    text-align: right;
    bottom: 50px;
}

.figure-title h2{
    background-color: blue;
}

.contact-part{
    padding-top: 15px;
    margin:auto;
    
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.contact-part a{
    display:flex;
    padding:20px;
    color:black;
    text-decoration: underline;
}

.its-me img{
    width: 100px;
    height: 100px;
    margin:20px;
    float:left;
    display:flex;
    margin-top:0px;
}

@media screen and (max-width: 900px) {
    
    main,
    nav {
        float: none;
      flex-direction: column;
    }

    main{
        
    }

    nav, header h1{
        display: block;
        align-items: center;
        text-align: center;
        margin:auto;
    }

    nav a {
        padding: 2px;
        margin: 4px;
        border: 2px;
        border-radius: 2px;
        border-style: solid;
    }

    section {
        
        display:block;
        margin: 5px;
        
    }
    section article{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    section article h2{
        
        display: block;
        border-bottom: 5px solid black;
        width:auto;
        text-align: center;
        font-size: 32px;
        padding: 2px;
        margin: 5px;


    }
    section article card{
        align-self:center;
        border: none;
        padding: 5px;
    }

    section article card p{
        display:block;
    }
}